password.py
Virtual Environment/
/.idea/
.DS_Store
__pycache__/password.cpython-39.pyc
Send Email Using HTML.py
Output - Apartments - One Loudoun, Vyne/Spreadsheets/
Output - Apartments - Reston, Exo/Spreadsheets/
Output - Dog Adoption - Fairfax County/Spreadsheets/
Output - Dog Adoption - FOHA/Spreadsheets/
Output - Dog Adoption - Loudoun County/Spreadsheets/
Output - Dog Adoption - Montgomery County/Spreadsheets/
