password.py
Virtual Environment/
/.idea/
.DS_Store
__pycache__/password.cpython-39.pyc
Output - Spreadsheets/*
!Output - Spreadsheets/Fairfax County Animal Shelter 2023-07-29 17-51-13.xlsx
!Output - Spreadsheets/Fairfax County Animal Shelter 2023-07-30 23-56-47.xlsx
!Output - Spreadsheets/Fairfax County Animal Shelter 2023-07-31 23-59-31.xlsx
!Output - Spreadsheets/Fairfax County Animal Shelter 2023-08-01 23-57-08.xlsx
!Output - Spreadsheets/Fairfax County Animal Shelter 2023-08-02 23-56-59.xlsx
